@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;

}
body{
  background-color: rgb(224, 227, 230);
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: #244564;
  padding: 1rem 5rem;
}
.sub-header img{
  width: 2.2rem;
}
.sub-header{
  display: flex;
}
.sub-header p{
  font-family: 'Qwitcher Grypen', cursive;
  color: white;
  margin: 0.2rem 1.5rem;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
}
.header div button{
  background-color: #587ef4;
  padding: 0.4rem 1.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  letter-spacing: 0.05rem;
  border: none;
  color: white;
  margin: 0.2rem 0;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}
.header div button:hover{
  background-color: white;
  color: #587ef4;
}
@media only screen and (max-width: 600px){
  .header{
    padding: 1rem;
  }
  *{
    font-size: 8px;
  }
}